<div class="main-container">
  <div class="home-titles">
    <h1 class="welcome">BIENVENUE SUR</h1>
    <h1 class="brand">yumissime.</h2>
  </div>
  <div class="home-img-container">
    <%= image_tag("home-illustration.png", width: 300) %>
  </div>
  <div class="home-btn-container">
    <%= link_to "S'INSCRIRE", new_user_registration_path, class: "primary-btn"  %>
    <%= link_to "SE CONNECTER", new_user_session_path, class: "secondary-btn"  %>
    <p>Le concept</p>
  </div>
</div>
