<div class="main-container">
  <h1>Bienvenue sur</h1>
  <h2>YUMISSIME</h2>
  <%= image_tag("home-illustration.png", width: 200) %>
  <a>S'INSCRIRE</a>
  <a>SE CONNECTER</a>
  <p>Le concept</p>
</div>
