body {
  margin:0px;
  height: 100vh;
  background-image: linear-gradient(to bottom, #f8cd8b, #f9d193, #f9d59c, #fad8a4, #fadcad, #fbdfb4, #fbe2ba, #fce5c1, #fce8c7, #fdeacd, #fdedd3, #fdefd9);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: $orange;
}

.home-btn-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.home-img-container {
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
